<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../assets/img/logo-freshfood-market.png" alt="" style="width: 220px;"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#download">Descargar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#features">Caracteristicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contactanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Ahora todo para tu mascota en un solo lugar!</h1>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Descargar!</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="../assets/img/demo-screen-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Descubre todos los productos y servicios que tenemos para tu mascota!</h2>
        <p>Encuentranos en:</p>
        <div class="badges">
          <a class="badge-link" href="https://play.google.com/store/apps/details?id=co.freshfoodmarket.app&hl=es_419"><img src="../assets/img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="https://apps.apple.com/co/app/freshfood-market/id1476312387"><img src="../assets/img/app-store-badge.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Marcas aliadas</h2>
      <p class="text-muted">Por que queremos brindarte lo mejor, nos aliamos con las mejores marcas del mercado!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="../assets/img/demo-screen-2.jpg" class="img-fluid" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-like text-primary"></i>
                <h3>Calidad</h3>
                <p class="text-muted">Productos certificados para tu mayor tranquilidad!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-earphones-alt text-primary"></i>
                <h3>Servicios</h3>
                <p class="text-muted">Todo lo que necesites aqui lo puedes encontrar!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-user-following text-primary"></i>
                <h3>Experiencia</h3>
                <p class="text-muted">Personal experimentado para atender tus solicitudes!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-screen-smartphone text-primary"></i>
                <h3>Facil de usar</h3>
                <p class="text-muted">Todo en una app a un solo click!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Tienes tu marca propia?<br>Pauta con nosotros.</h2>
      <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Contactanos!</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
  <div class="container">
    <h2>Nosotros 
      <i class="fas fa-heart"></i>
      brindarte el mejor servicio!</h2>

    <div style="display: inline-block;margin: 1em; border: 1px solid #000; padding: 1em; border-radius: 30px;">
      <form [formGroup]="formularioContacto" (ngSubmit)="enviar()">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" formControlName="nombre" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp" [(ngModel)]="nombre" placeholder="Ingresa Tu Nombre">
          <div *ngIf="formularioContacto.get('nombre').errors && formularioContacto.get('nombre').dirty">
            <p *ngIf="formularioContacto.get('nombre').hasError('required')" style="color:red;">*El nombre es requerido</p>
          </div>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="correo">Correo Electronico</label>
          <input type="email" formControlName="correo" class="form-control" id="correo" name="correo" [(ngModel)]="correo" placeholder="Ingresa Tu Correo Electronico">
          <div *ngIf="formularioContacto.get('correo').errors && formularioContacto.get('correo').dirty">
            <p *ngIf="formularioContacto.get('correo').hasError('required')" style="color:red;">*El correo es requerido</p>
            <p *ngIf="formularioContacto.get('correo').hasError('email')" style="color:red;">*Ingrese un correo valido</p>
          </div>
        </div>
        
        <div class="form-group">
          <label for="celular">Numero Celular</label>
          <input type="number" class="form-control" formControlName="celular" id="celular" [(ngModel)]="celular" aria-describedby="emailHelp" placeholder="Ingresa Tu Numero Celular">
          <div *ngIf="formularioContacto.get('celular').errors && formularioContacto.get('celular').dirty">
            <p *ngIf="formularioContacto.get('celular').hasError('required')" style="color:red;">*El celular es requerido</p>
          </div>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea  class="form-control" formControlName="descripcion" id="descripcion" name="descripcion" [(ngModel)]="descripcion" aria-describedby="emailHelp" placeholder="Dejanos un mensaje"></textarea>
          <div *ngIf="formularioContacto.get('descripcion').errors && formularioContacto.get('descripcion').dirty">
            <p *ngIf="formularioContacto.get('descripcion').hasError('required')" style="color:red;">*Ingrese una descripción</p>
          </div>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-outline-contact btn-xl js-scroll-trigger" [disabled]="!formularioContacto.valid">Enviar!</button>
        <!-- <button type="submit" class="btn btn-primary">Enviar</button> -->
      </form>
    </div>  
    
    <ul class="list-inline list-social">
      <li class="list-inline-item social-twitter">
        <a href="https://www.instagram.com/freshfood_market_col/">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="list-inline-item social-facebook">
        <a href="https://www.facebook.com/freshfoodMarketcol/">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
    </ul>
  </div>
</section>

<footer>
  <div class="container">
    <p>&copy; Freshfood Market 2020. All Rights Reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Privacy</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Terms</a>
      </li>
      <li class="list-inline-item">
        <a href="#">FAQ</a>
      </li>
    </ul>
  </div>
</footer>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Información</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<router-outlet></router-outlet>